
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
venv
/.vs/JSServicesWeb/config/applicationhost.config
/.vs/JSServicesWeb/v16/.suo
/.vs/VSWorkspaceState.json
