option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: djangostripe.settings
    LD_LIBRARY_PATH: "/usr/local/lib"

  aws:elasticbeanstalk:container:python:
    WSGIPath: "djangostripe.wsgi:application"

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static